<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to RailsNetwork</h1>

    <h2>
      A Rails Based Social Network
    </h2>

    <div class="row">
      <div class="span4 offset3">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.text_field :email, :placeholder => 'Email' %>

          <%= f.password_field :password, :placeholder => 'Password' %>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
      </div>
    </div>
    
    
  </div>

<% end %> 